<div>
  <%= link_to job_path(job) do %>
    <span><%= job.name %></span><br>
    <span><%= job.description %></span>
  <% end %>
  <%= link_to 'New Application', new_job_application_path(job), class: 'card-footer-item' %>
  <p>
    <%= button_to "logout", destroy_user_session_path, method: :delete %>
  </p>
</div>
